<!DOCTYPE html>
<html lang="fr">
  <%- include('../partials/head') %>
  <body>
    <header class="container">
      <nav>
        <ul>
          <li><strong><a href="/">Tododex</a></strong></li>
        </ul>
        <ul>
          <li><a href="/auth/login">Connexion</a></li>
          <li><a href="/auth/register">Inscription</a></li>
        </ul>
      </nav>
    </header>
    <main class="container">
      <%- body %>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
